
{% extends "bootstrap/base.html" %}
{% block title %}
App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='welcome.css')}}">
{% endblock %}

{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home Automation</a>
        </div>
        <!-- <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">Temperature : {{value}}</li>
           
            

          </ul> -->
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">

      <div class="starter-template">
        <h1>Temperature</h1>
        <p class="lead">Temperature <br> {{value}}</p>

      </div>

    </div>
    <div class="container">

      <div class="starter-template">

        <form action="{{ url_for("index")}}" method="post">
        <h1>Set Temperature</h1>

          <input type="text" id="temp" name="temp" color = "#AD8C08" >

       
        <input  class="btn btn-primary" type="submit" value="Submit" name="action1"/>
        <br>
        <input type="submit" value="New user" name="action2" />
        </br>
        </form>
        <!-- <button class="btn btn-primary" type="submit">Set Temperature</button> -->
      </div>

    </div>
  </div>
{% endblock %}